ul.tab-container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  background: black;
  height: 28px;
}

.tab-container li, .button {
  padding: 5px 10px;
  background: #222;
  color: rgba(255,255,255,0.6);
  border: 1px solid rgba(255,255,255,0.2);
  margin-right: 1px;
  margin-top: 2px;
  cursor: pointer;
}

.tab-container li.active {
  border-bottom: none;
  margin-top: 0px;
  background: #141414;
  color: white;
}

.tab-container li:hover:not(.active), .button:hover  {
  background: #333333;
}

.scrolltoleft.button {
  position: fixed;
  left: -2px;
  top: 0;
  margin-top: -1px    ;
  color: white;
  font-weight: bold;
}

.scrolltoright.button {
  position: fixed;
  right: -2px;
  top: 0;
  margin-top: -1px;
  color: white;
  font-weight: bold;

}

.scroll-tab-container {
  overflow: hidden;
  width: 100vw;
  height: 28px;
  background: black;
}

.button.disabled {
  opacity: 0.5;
}

.button.hide {
  display: none;
}

* {
  user-select: none;
}

a.remove {
  color: #222;
  text-decoration: 0;
  border-radius: 50%;
  display: inline-block;
  background: rgba(255,255,255,0.3);
  text-align: center;
  width: 13px;
  height: 13px;
  vertical-align: text-top;
  font-size: 11px;
  font-weight: bold;
}

span.identifier {
  display: block;
  box-shadow: 0px 0px 10px 2px yellow;
  height: 1px;
  margin-top: 4px;
}
