/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  background: black;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.my-code-editor {
  .editor-container {
    height: calc(100vh - 140px);
    width: 800px;
  }
}

/* .ace_warning {
  color: yellow;
}

.ace_error {
  color: red;
}

.ace_info {
  color: green;
} */

.ace_selected-word {
  border-color: purple !important;
  box-shadow: 0 0 5px purple;
  border-radius: 3px;
  border-width: 2px !important;
}
