<div appDnd (fileDropped)="fileDropped($event)" class="dropzone" *ngIf="!settingsOpen">
  <app-tab-container [configuration]="tabContainerConfiguration"></app-tab-container>
  <app-syntax-highlighter-wrapper
    *ngFor="let tab of this.tabSettings"
    [configuration]="tab.settings"
    [style.display]="tabContainerConfiguration.isTabActive(tab.path) ? 'block' : 'none'">
  </app-syntax-highlighter-wrapper>
  <div class="droppable">
    <div class="dropview">
      <h1>Drop like it's hot</h1>
    </div>
  </div>
</div>
<app-settings *ngIf="settingsOpen">

</app-settings>
